:root {
    --primary-color: #000000;
    --secondary-color: #575757;
    --tertiary-color: #ffffff;
    --accent-color: #bebebe;
    --space-xl: 20vh;
    --space-lg: 15vh;
    --space-md: 10vh;
    --space-sm: 5vh;
    --space-xs: 2vh;
    --space-xxs: 1vh;
}

* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / 3fr 1fr;

}


#header {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    padding: var(--space-xs);
    min-height: var(--space-sm);
}

#navList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: var(--primary-color);
    padding: var(--space-xs);
}

#navList a {
    color: var(--tertiary-color);
    text-decoration: none;
    padding: 5px;
}

#mainContainer {
    background: var(--accent-color);
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    color: var(--tertiary-color);
}

#previewProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

#product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#asideContent {
    padding: var(--space-xs);

}

#footer {
    grid-column: 1/3;
    background: var(--primary-color);
    min-height: var(--space-sm);
    color: var(--tertiary-color);
    padding: var(--space-xs);
}