:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --tertiary-color: #777777;
    --margin-lg: 14px;
    --margin-md: 10px;
    --margin-sm: 7px;
    --padding-lg: 14px;
    --padding-md: 10px;
    --padding-sm: 7px;
    --height-lg: 10vh;
    --height-md: 7vh;
    --height-sm: 4.5vh;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr auto / 3fr 1fr;

}

#header{
    background-color: var(--primary-color);
    min-height: var(--height-lg);
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header h2{
    padding: var(--padding-md);
    color: var(--secondary-color);
    min-height: var(--height-lg);
}
#navList {
    display: flex;
    justify-content: space-evenly;
    background: var(--tertiary-color);
    list-style: none;
    height: var(--height-sm);
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#navList a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: var(--padding-md);
}

#mainContent{
    padding: var(--padding-sm);
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template: 1fr 1fr 3fr / auto;
}

#productContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    background-color: var(--tertiary-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
    padding: var(--padding-sm);
    margin: var(--margin-sm);
    width: var(--margin-lg);
    height: var(--height-lg);
}

#asideContent{
    background: var(--secondary-color);
    padding: var(--padding-sm);
    color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#footerContent{
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding-md);
    min-height: var(--height-lg);
    grid-column: 1/3;
    border: 1px solid rgb(255, 255, 255, 0.5);
}