body {
    margin: 5px;
    padding: 5px;
    background-color: #CBDDD1;
    color: white;
    font-family: "Montserrat", serif;
    font-style: normal;
}
header {
    margin: 3px 0 10px 0;
    width: 100%;
    height: 135px;
    background-color: #60806f;
    border: 1px solid rgb(170, 170, 170);
    position: relative;
    box-shadow: 2px 6px 10px 0 #06c7bda9;
}
.image {
    display: inline-block;
    height: 100px;
    width: auto;
    margin: 0.5rem;
}
.container {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: right;
    text-decoration: none;
    position: relative;
    margin-right: 30px;
}
.menu a {
    padding: 0 40px 0 40px;
    box-shadow: 1px 3px 5px 1px #06c7bda9;
    background-color: #CBDDD1;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: 70px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}
nav a:hover {
    transform: scale(1.05);
}
a, .news p {
    color: #60806f;
    text-decoration: none;
}

.B-one, .B-three, .B-two {
    border: 1px solid rgb(199, 196, 196);
    box-shadow: 5px 5px 10px 2.5px #06c7bda9;
    margin: 50px 50px 40px 20px;
    padding: 10px 0 0 20px;
    width: 800px;
    height: 180px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: transform 0.5s ease;
    background-color: #60806f;
}
.B-two {
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: 30px;
    right: 0;
}
.B-one:hover, .B-two:hover, .B-three:hover {
    transform: scale(1.05);
}
.feature {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: #1279a8a9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 90%;
    height: 700px;
    overflow: hidden;
}
.news {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #CBDDD1;
    border: 1px #262627a9;
    border-radius: 1%;
    box-shadow: 2.5px 2.5px 5px 2.5px #06c7bda9;
    width: 95%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    flex-flow: column;
    text-align: center;
    padding: 10px;
}
.top, .middle, .bottom {
    box-shadow: 2.5px 2.5px 5px 2.5px #06c7bda9;
    width: 95%;
    transition: transform 1s ease;
    background-color: #06c7bda9;
}
.top:hover, .middle:hover, .bottom:hover {
    transform: scale(1.05);
}
footer {
    padding-top: 5px;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #60806f;
    position: relative;
}