body{
    height: 500vh;
    margin: 0;
    display: grid;
}

.header{
    background-color: aqua;
    height: 5rem;
}

.main{
    display: grid;
    background: green;
}

#firstview{
    background-color: red;
}

#Previewproduct{
    background-color: orange;
}
#Sitedetails{
    background-color: purple;
}

.footer{
    background-color: yellow;
    height: 10rem;
}