body {
    height: 500vh;
    margin: 0;
    display: grid;
}

.header {
    background-color: aqua;
    height: 5rem;
}

.main {
    display: grid;
    background: green;
    padding: 1rem;
}

.hero {
    grid-column: 1/5;
    grid-row: 1/4;
    overflow: hidden;
    background: purple;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    animation: slideShow 9s infinite;
}

.hero img:nth-child(1) {
    animation-delay: 0s;
}

.hero img:nth-child(2) {
    animation-delay: 3s;
}

.hero img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slideShow {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.lsbar {
    grid-column: 4/4;
    grid-row: 5/5;
    background: red;
    display: absolute;
    padding: 1rem;
    opacity: 70%;
}


#firstview {
    background-color: red;
}

#Previewproduct {
    background-color: orange;
}

#Sitedetails {
    background-color: purple;
}


.footer {
    background-color: yellow;
    height: 10rem;
}