:root {
    --primary-color: #d10101;
    --secondary-color: #00b300;
    --tertiary-color: #0000ff;
}

body {
    margin: 0;
    height: 300vh;
    display: grid;
    grid-template: 10vh 1fr 10vh/ auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    float: left;
    margin-left: 5vh;
    margin-top: 2vh;
    font-size: 5vh;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.2s ease-out;
}

.nav-grid {
    float: right;
    margin-right: 2vh;
    margin-top: 2vh;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0.5rem 0.25rem 0 0 rgba(0, 0, 0, 0.1);
}

.links a:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0.5rem 0.25rem 0 0 rgba(197, 0, 0, 0.1);
    transition: 0.2s ease-out;
}

.links li {
    list-style: none;
}

.main {
    background: var(--tertiary-color);
    display: grid;
    grid-template: repeat(3, 100vh) / auto;
    padding: 20px;
    gap: 20px;
}

#firstview {
    background-color: var(--secondary-color);
}

#Previewproduct {
    background-color: var(--secondary-color);
}

#Sitedetails {
    background-color: var(--secondary-color);
}

.footer {
    background-color: var(--primary-color);
}