body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template: 10vh 1fr 10vh/ auto;
}

.header {
    background-color: aqua;
}

.main {
    background: green;
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(10rem, auto));
    align-items: center;
    justify-items: center;
}

#firstview {
    background-color: red;
}

#Previewproduct {
    background-color: orange;
}

#Sitedetails {
    background-color: purple;
}

.footer {
    background-color: yellow;
}