@media (max-width: 800px) {
    .container {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        flex-direction: column;
        width: 90%;
        margin: 2rem auto;
    }

    .data, .weather {
        width: 100%;
        margin: 1rem 0;
    }

    .weather h2::after {
        content: ""; 
    }
}

@media (max-width: 480px) {
    .mobile-icon {
        display: inline-block; 
    }

    .hero-image {
        height: 200px;
        object-fit: cover;
    }
    .weather{
        height: 10%;
    }
}