*{
    padding: 0;
    margin:0;
}
:root {
    --primary-color: #ff0000; /* Red */
    --secondary-color: #008000; /* Green */
    --background-color: #ffffff; /* White */
    --text-color: #000000; /* Black */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/Tsingy.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: var(--text-color);
    width: 100%;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    width: 100%;
}

.container {
    position: relative;
    max-width: 500px;
    margin: auto;
    border: 1px solid #f8dada;
    background-color:var(--secondary-color);
    padding: 1rem;
}

.data {
    margin-bottom: 2rem;
    position: relative;
}

.weather-icon {
    /* Pseudo element for larger screen */
    position: relative;
    content: "";
    display: inline-block;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('images/.weather-icon.svg'); /* Your SVG icon */
    background-size: cover;
    vertical-align: middle;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    color: #ffffff;
}