@media screen and (max-width: 768px) {
    header ul {
        display: none;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: rgb(255, 71, 71);
    }

    header ul li {
        width: 100%;  
        text-align: center;
    }

    header ul.show {
        display: flex;
        flex-direction: column;
    }
    #menu {
        display: block;
        margin-left: 7rem;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        color:#585656;
        text-align: center;
        width: 3rem;
        
    }

    #menu::before {
        content: "Ξ";
    }
    #menu.show::before {
        content: "X";
    }
}
